<ion-header>
	<ion-toolbar>
		<ion-title>Place Order</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="start" *ngIf="userHasAStandingOrder">
		<h3>Start With</h3>
		<button ion-button color="secondary" round (click)="useBlankSlate()">Blank slate</button>
		<button ion-button color="secondary" round (click)="useStandingOrder()">Your standing order</button>
	</div>
	<div class="start" *ngIf="!userHasAStandingOrder">
		<button ion-button color="secondary" round (click)="useBlankSlate()">Start with a Blank slate</button>
		<button ion-button color="secondary" round>create a standing order</button>
	</div>
</ion-content>
