page-home {

	ion-label {
		font-size: 1.6rem;
		font-weight: normal;
		color: #000;
		text-transform: none;
	}

	.swipe-left {
		color:lightgray;
		float:right;
	}

	div.pay {
		p {
			padding: 20px;
		}
	}

	ion-grid.step-progress-bar {
		border-bottom: 3px solid lightgray;

		ion-col {
			p {
				margin-top: 0px;
				text-transform: uppercase;
				color: lightgray;
			}
			div {
				cursor: pointer;
			}
			ion-icon {
				font-size: 1.6em;
				color: lightgray;
			}
		}

		ion-col.active {

			ion-icon {
				color: #55b776;
			}
			p {
				font-weight: bold;
				color: black;
			}
		}
		ion-col.completed {

			ion-icon {
				color: black;
			}
			p {
				font-weight: normal;
				color: gray;
			}
		}

		ion-col:before {
			width: -webkit-calc(100% - 54px);
			width:    -moz-calc(100% - 54px);
			width:         calc(100% - 54px);
			height: 2px;
			content: '';
			position: absolute;
			background-color: lightgray; //#7d7d7d; //gray;   #55b776; //green //
			top: 17px;
			left: -webkit-calc(-50% + 27px);
			left:    -moz-calc(-50% + 27px);
			left:         calc(-50% + 27px);
		}

		ion-col:first-child:before {
			content: none;
		}


		// circle
	 	ion-col ion-icon:before {
			width: 34px;
			height: 34px;
			line-height: 34px;
			border: 2px solid lightgray;
			display: block;
			text-align: center;
			margin: 0 auto 10px auto;
			border-radius: 50%;
			background-color: white;
		}

		ion-col.active ion-icon:before {
			border: 2px solid #55b776;
		}
		ion-col.completed ion-icon:before {
			border: 2px solid gray;
		}
	}
}
