<ion-header>
	<ion-navbar>
		<ion-title>Place Order</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="segmentTitle">
			<ion-segment-button value="shop">
				Shop
			</ion-segment-button>
			<ion-segment-button value="pickup">
				Pickup
			</ion-segment-button>
			<ion-segment-button value="preview">
				Preview
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div [ngSwitch]="segmentTitle">

		<ion-list *ngSwitchCase="'shop'">
			<button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
				<ion-avatar *ngIf="item.image" item-left>
      				<img src="assets/images/{{item.image}}">
    			</ion-avatar>
				<h2>{{ item.label }} </h2>
			</button>

		</ion-list>

		<div *ngSwitchCase="'pickup'">
			<ion-card>
				<img src="assets/images/cb_map.png">

				<ion-item>
					<ion-icon name="pin" item-left large></ion-icon>
					<strong>Seacoast Waldorf <ion-icon small ios="ios-navigate-outline" md="md-navigate"></ion-icon></strong>
					<p>This Tuesday 3-6pm</p>
				</ion-item>
				<ion-item>
					<ion-icon name="pin" item-left large></ion-icon>
					<strong>Little Harbour <ion-icon small ios="ios-navigate-outline" md="md-navigate"></ion-icon></strong>
					<p>This Thursday 2-4pm</p>
				</ion-item>
				<ion-item>
					<ion-icon name="pin" item-left large color="red"></ion-icon>
					<strong>Tuckaway Farm <ion-icon small ios="ios-navigate-outline" md="md-navigate"></ion-icon></strong>
					<p>Next Wednesday 2-4pm</p>
				</ion-item>
			</ion-card>

		</div>
		<div *ngSwitchCase="'preview'">

			<ion-card>
				<ion-card-header>
					Pickup
				</ion-card-header>
				<ion-card-content>
					<p>
						Seacoast Waldorf School
						<ion-icon ios="ios-navigate-outline" md="md-navigate" style="padding-left:20px;"></ion-icon>
					</p>
					<p>
						Wed Feb 24, 2-4pm
						<ion-icon ios="ios-calendar-outline" md="md-calendar" style="padding-left:20px;"></ion-icon>
					</p>
				</ion-card-content>
			</ion-card>

			<ion-card>
				<ion-card-header>
					Order
				</ion-card-header>

				<ion-list>
					<ion-item>
						<ion-grid>
							<ion-row>
  							  <ion-col width-80>2 loaves Oma's Finest</ion-col>
  							  <ion-col width-20>$12</ion-col>
  						  </ion-row>
						  <ion-row>
							  <ion-col width-80>1 dozen eggs</ion-col>
							  <ion-col width-20>$5</ion-col>
						  </ion-row>
						  <ion-row>
							  <ion-col width-80>1 bunch flowers</ion-col>
							  <ion-col width-20>$10</ion-col>
						  </ion-row>
						  <ion-row>
							  <ion-col width-80>1 pound ground beef</ion-col>
							  <ion-col width-20>$5</ion-col>
						  </ion-row>
						  <ion-row>
							  <ion-col width-80>1 jar sauerkraut</ion-col>
							  <ion-col width-20>$10</ion-col>
						  </ion-row>
						</ion-grid>
					</ion-item>
				</ion-list>
			</ion-card>

			<ion-row>
				<ion-col width-50 offset-10>Account Credit</ion-col>
				<ion-col width-40>$220</ion-col>
			</ion-row>
			<ion-row>
				<ion-col width-50 offset-10>Order Total</ion-col>
				<ion-col width-40 style="border-bottom-style:solid">$42</ion-col>
			</ion-row>
			<ion-row>
				<ion-col width-50 offset-10>Projected Balance</ion-col>
				<ion-col width-40>$178</ion-col>
			</ion-row>
			<br/>
			<ion-row>
				<ion-col width-90 offset-10>
					<button ion-button color="secondary" round>Place Order</button>
				</ion-col>
			</ion-row>


		</div>

	</div>

</ion-content>
