<ion-header>
	<ion-navbar>
		<ion-title>Place Order</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="segmentTitle">
			<ion-segment-button value="shop">
				Shop
			</ion-segment-button>
			<ion-segment-button value="pickup">
				Pickup
			</ion-segment-button>
			<ion-segment-button value="preview">
				Preview
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div [ngSwitch]="segmentTitle">

		<ion-list *ngSwitchCase="'shop'">

			<div *ngFor="let foodCategory of foodCategories">

				<div *ngIf="foodCategory.expanded === true">
					<ion-list-header>
						<ion-avatar item-left>
							<img src="assets/images/{{foodCategory.image}}">
						</ion-avatar>
						{{foodCategory.label}}
						<ion-icon (click)="toggle(foodCategory)" style="float:right" ios="ios-arrow-up" md="md-arrow-up"></ion-icon>
					</ion-list-header>
					<ion-item-sliding #slidingItem *ngFor="let item of foodCategory.items">
						<ion-item>
							<span style="margin-left:12px;"> </span>
							<ion-icon *ngIf="item.quantity > 0" ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
							{{item.name}}
							<span *ngIf="item.quantity === 1"> ({{item.quantity}} {{item.quantityLabel}})</span>
							<span *ngIf="item.quantity > 1"> ({{item.quantity}} {{item.quantityLabelPlural}})</span>
						</ion-item>
						<ion-item-options>
							<button ion-button color="secondary" icon-left (click)="add(item, slidingItem)">
								<ion-icon ios="ios-add" md="md-add"></ion-icon>
								Add
							</button>
							<button *ngIf="item.quantity > 0" ion-button color="primary" icon-left (click)="subtract(item, slidingItem)">
								<ion-icon ios="ios-remove" md="md-remove"></ion-icon>
								Subtract
							</button>
							<button ion-button color="light" icon-left (click)="openModal(slidingItem)">
								<ion-icon name="ios-more"></ion-icon>
								View
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</div>
				<ion-item *ngIf="foodCategory.expanded === false">
					<ion-avatar item-left>
						<img src="assets/images/{{foodCategory.image}}">
					</ion-avatar>
					{{ foodCategory.label }}
					<ion-badge *ngIf="foodCategory.amt > 0" style="margin-left:20px">{{foodCategory.amt}}</ion-badge>
					<ion-icon (click)="toggle(foodCategory)" style="float:right" ios="ios-arrow-down" md="md-arrow-down"></ion-icon>

				</ion-item>
			</div>
		</ion-list>

		<div *ngSwitchCase="'pickup'">
			<ion-card>
				<img src="assets/images/cb_map.png">

				<ion-item>
					<ion-icon name="pin" item-left large></ion-icon>
					<strong>Seacoast Waldorf <ion-icon small ios="ios-navigate-outline" md="md-navigate"></ion-icon></strong>
					<p>This Tuesday 3-6pm</p>
				</ion-item>
				<ion-item>
					<ion-icon name="pin" item-left large></ion-icon>
					<strong>Little Harbour <ion-icon small ios="ios-navigate-outline" md="md-navigate"></ion-icon></strong>
					<p>This Thursday 2-4pm</p>
				</ion-item>
				<ion-item>
					<ion-icon name="pin" item-left large color="red"></ion-icon>
					<strong>Tuckaway Farm <ion-icon small ios="ios-navigate-outline" md="md-navigate"></ion-icon></strong>
					<p>Next Wednesday 2-4pm</p>
				</ion-item>
			</ion-card>

		</div>
		<div *ngSwitchCase="'preview'">

			<ion-card>
				<ion-card-header>
					Pickup
				</ion-card-header>
				<ion-card-content>
					<p>
						Seacoast Waldorf School
						<ion-icon ios="ios-navigate-outline" md="md-navigate" style="padding-left:20px;"></ion-icon>
					</p>
					<p>
						Wed Feb 24, 2-4pm
						<ion-icon ios="ios-calendar-outline" md="md-calendar" style="padding-left:20px;"></ion-icon>
					</p>
				</ion-card-content>
			</ion-card>

			<ion-card>
				<ion-card-header>
					Order
					<span style="float:right">
						<span *ngIf="showOrderPreview === false">6 items</span>
						<ion-icon (click)="showOrderPreview = true" *ngIf="showOrderPreview === false" style="margin-left:4px;" ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
						<ion-icon (click)="showOrderPreview = false" *ngIf="showOrderPreview === true" style="margin-left:4px;" ios="ios-arrow-up" md="md-arrow-up"></ion-icon>
					</span>
				</ion-card-header>

				<ion-list *ngIf="showOrderPreview">
					<ion-item>
						<span>2 loaves Oma's Best</span>
						<span style="float:right">$12</span>
					</ion-item>
					<ion-item>
						<span>1 dozen eggs</span>
						<span style="float:right">$5</span>
					</ion-item>
					<ion-item>
						<span>1 bunch flowers</span>
						<span style="float:right">$10</span>
					</ion-item>
					<ion-item>
						<span>1 pound ground beef</span>
						<span style="float:right">$5</span>
					</ion-item>
					<ion-item>
						<span>1 jar sauerkraut</span>
						<span style="float:right">$10</span>
					</ion-item>
				</ion-list>
			</ion-card>

			<ion-card>
				<ion-card-header>
					Total
					<span style="float:right">
						<span *ngIf="showTotalPreview === false">$42</span>
						<ion-icon (click)="showTotalPreview = true" *ngIf="showTotalPreview === false" style="margin-left:4px;" ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
						<ion-icon (click)="showTotalPreview = false" *ngIf="showTotalPreview === true" style="margin-left:4px;" ios="ios-arrow-up" md="md-arrow-up"></ion-icon>
					</span>
				</ion-card-header>

				<ion-list *ngIf="showTotalPreview">
					<ion-item>
						<span>Account Credit</span>
						<span style="float:right">$220</span>
					</ion-item>
					<ion-item>
						<span>Order Total</span>
						<span style="float:right">$42</span>
					</ion-item>
					<ion-item>
						<span>Projected Balance</span>
						<span style="float:right">$178</span>
					</ion-item>
				</ion-list>
			</ion-card>
			<ion-row>
				<ion-col text-center>
					<button ion-button color="secondary" round>Place Order</button>
				</ion-col>
			</ion-row>


		</div>

	</div>

</ion-content>
