page-home {

	ion-label {
		font-size: 1.6rem;
		font-weight: normal;
		color: #000;
		text-transform: none;
	}

	.swipe-left {
		color:lightgray;
		float:right;
	}

	.qty-details {
		font-size: 1.4rem;
		color: gray;
		padding-top:4px;
	}
	.qty-ordered {
		padding-right: 4px;
		color:black
	}
	.indent {
		margin-left:12px;
	}
	.no-indent {
		margin-left:0px;
	}
	div.pay {
		p {
			padding: 20px;
		}
	}

	div.order-is-outstanding {
		p {
			padding-left: 14px;
		}
		button {
			margin-left:10px;
			padding-left:4px;
			margin-top: 20px;
			display: block;
		}
	}
	ion-grid.step-progress-bar {
		border-bottom: 3px solid lightgray;

		ion-col {
			p {
				margin-top: 0px;
				text-transform: uppercase;
				color: lightgray;
			}
			div {
				cursor: pointer;
			}
			ion-icon {
				font-size: 1.2em;
				color: lightgray;
			}
		}

		ion-col.passed {
			ion-icon {
				font-size: 1.8em;
				color: green;
			}
			p {
				font-weight: bold;
				color: gray;
			}
		}
		ion-col.completed {
			ion-icon {
				font-size: 1.8em;
			}
		}
		ion-col.active {
			ion-icon {
				color: gray;
			}
			p {
				font-weight: bold;
				color: black;
			}
		}

		// connecting lines
		ion-col:before {
			width: -webkit-calc(100% - 54px);
			width:    -moz-calc(100% - 54px);
			width:         calc(100% - 54px);
			height: 2px;
			content: '';
			position: absolute;
			background-color: lightgray; //#7d7d7d; //gray;   #55b776; //green //
			top: 15px;
			left: -webkit-calc(-50% + 27px);
			left:    -moz-calc(-50% + 27px);
			left:         calc(-50% + 27px);
		}
		ion-col.active:before {
			background-color: green;
		}
		ion-col.passed:before {
			background-color: green;
		}

		ion-col:first-child:before {
			content: none;
		}


		// circle
	 	ion-col ion-icon:before {
			width: 26px;
			height: 26px;
			line-height: 26px;
			border: 2px dotted lightgray;
			display: block;
			text-align: center;
			margin: 0 auto 10px auto;
			border-radius: 50%;
			background-color: white;
		}

//		ion-col.completed ion-icon:before {
//			border: 2px solid green;
//		}
		ion-col.active ion-icon:before {
			border: 2px solid gray; //#7AC084   #55b776;
		}
		ion-col.passed ion-icon:before {
			border: 2px solid green;
		}
	}
	.order-total {
		float:right;
		padding: 0px 4px 2px 4px;
		border-bottom: 1px solid black;
	}
}
